@import "utilities.css";

html{
    scroll-behavior: smooth;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
}

header{
    background-color: black; 
    width: 100%;
    border: 0.15 solid white;
}

header nav a{
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0 0.5rem;
}

.links a{
    color: #FDEBF7;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.3s ease;
    
}

.links a:hover{
    color:#548CFF ;
    border-bottom: 5px #548CFF solid;

}
nav{
    padding: 0 15px;
    margin: 0 auto;   
}
.name{
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: #FDEBF7;
    padding:0 2rem;
    margin-right: 3rem;
}

.photo img{
    width: 400px;
    margin: 1rem 5rem;
    height: 600px;
    margin-bottom: 3rem;
}

.data{
    margin-left: 6rem;
    margin-bottom: 15rem;
    color: #FDEBF7;
    margin-right: 10rem;
}
.data h5{
    font-size: 2.5rem; 
    color: #548CFF;
    margin-top:10rem ;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.data h1{
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    margin:1rem 0;

}
.data p{
    font-size: 5rem;
    line-height: 1.5;
    margin-top:1.5rem;
    font-family: 'Roboto', sans-serif;
}

.button_skills{
    padding: 0.7rem 3.1rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 5rem 3.2rem;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color:#548CFF ;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    
    
}
.button_skills:hover{
    border-color: #548CFF;
    background-color: transparent;
    border-radius: 12px;
    color: #FDEBF7;  
}
.button_hobbies{
    padding: 0.7rem 3.1rem;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 5rem 3.2rem;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color:#548CFF ;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
        
}
.button_hobbies:hover{
    border-color: #548CFF;
    background-color: transparent;
    border-radius: 12px;
    color: #FDEBF7;
    
}
form{
    display: inline-block;
}
.data button{
    display: inline-block;
    
}


.hobbies_div h1{
    color: #FDEBF7;
    font-size: 5rem;
    font-family: 'Pacifico', cursive;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

  
.four_hobbies div{
    color: #FDEBF7;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    display: inline-block;
    padding: 2.5rem 2.5rem;
    font-weight: 600;
    margin-left: 0  rem;
}
#skills_section h1{
    color: #FDEBF7;
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    margin: 0 auto;
    padding: 4rem 5rem;
    padding-top: 3rem;
   
}

.four_hobbies div img{
    border-radius: 50%;
    border: 2px solid;
    width: 250px;
}

.skills_editing{
    padding-bottom: 4rem;
}
.html_progress_class{
    color: #FDEBF7;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding: 1rem 2rem;
    
}
.css_progress_class{
    color: #FDEBF7;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding: 1rem 3rem;
}
.js_progress_class{
    color: #FDEBF7;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding: 1rem 1rem;
}

progress {
    border-radius: 7px; 
    width: 40%;
    height: 22px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
    
  }
  progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #548CFF;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 );
}
